## Introduction To Data Science HW1 Python Tutorial  ( Strings, Lists, Dicts, Sorting)

# Strings

In [40]:
# Data in the string represents the same stuff no matter using single/double/triple quotes
string1= 'Hello World!'
string2= "Hello World!"
string3= '''Hello World!'''
print (string1)
print (string2)
print (string3)

Hello World!
Hello World!
Hello World!

In [41]:
# Print the index in the string, we can see that the index number starts from 0, and space also has the length with 1
# string1[1:7] shows the index 1~6, string1[1:] shows the index from index 1, string1[:3] shows the index 1~2
# string1[-2] shows the string from the right the second index,
# string1[-2:] shows the string from the right starts from the index 2 and count from left to right
print ("string1[0]:", string1[0])
print ("string1[1:7]:", string1[1:7])
print ("string1[1:]:", string1[1:])
print ("string1[:3]:", string1[:3])
print ("string1[-2]:", string1[-2])
print ("string1[-2:]:", string1[-2:])

string1[0]: H
string1[1:7]: ello W
string1[1:]: ello World!
string1[:3]: Hel
string1[-2]: d
string1[-2:]: d!

In [42]:
# String concatenation( using " + ") and repetition (using " * ") to change the string
print ("pa" * 2 + "razzi")

paparazzi

In [43]:
# String formating operator
# %d means the signed decimal interger, and %s means the string conversion via str()
print ("This course has a class starts from Monday %d AM and the location is in %s" % (10, "Newark") )

This course has a class starts from Monday 10 AM and the location is in Newark

In [118]:
# String escaping using backslash \ to show the character after \
# For example like \' can show ' in the string, \n means change to another line
print ("As the saying goes, \"Nothing ventured, nothing gained.\" ")
print ("Transcript: \n Math: 100 \n English: 100")

As the saying goes, "Nothing ventured, nothing gained."
Transcript:
 Math: 100
 English: 100

In [119]:
# len() function will calculate the string lengths
print (string1)
len(string1)

Hello World!

12

In [103]:
# find() function will find the index value of the string and if the return value is -1 means not found
print (string1.find('el'))
print (string1.find('al'))

1
-1

# Lists

In [121]:
# List example and see the value at those index in the list, the index rule is the same as previous mentioned 
list1= ["a", "b", "c"]
list2= ["Math", "Pysics", "English", "French", "Mandarin"]
print ("list1[0]:", list1[0])
print ("list2[2:]:", list2[2:])
print ("list2[1:3]:", list2[1:3])
print ("list2[-2:]:", list2[-2:])

list1[0]: a
list2[2:]: ['English', 'French', 'Mandarin']
list2[1:3]: ['Pysics', 'English']
list2[-2:]: ['French', 'Mandarin']

In [122]:
# List updates and delete
print ("original list2[3]:", list2[3])
list2[3]= "Drama"
print("new list2[3]:", list2[3])
del list2[3]
print ("after delete the new list2[3]:", list2[3])

original list2[3]: French
new list2[3]: Drama
after delete the new list2[3]: Mandarin

In [77]:
# List concatenation( using " + ") and repetition (using " * ")
["a", "b", "c"] + [1, 2, 3]*2

['a', 'b', 'c', 1, 2, 3, 1, 2, 3]

In [123]:
# Nest List, previous we define list1, list2, now we can combine list1 and list2 to build a list3
list3= [list1, list2]
print (list3)
print (list3[1]) # show the value of index 1 in the list3, and that will be list2
print (list3[1][2]) # It will search the value of index 1 in the list3, and only show the value of index 2 in the list2

[['a', 'b', 'c'], ['Math', 'Pysics', 'English', 'Mandarin']]
['Math', 'Pysics', 'English', 'Mandarin']
English

In [124]:
# len(list) function to find the length of the list
print (list1)
len(list1)

['a', 'b', 'c']

3

In [132]:
# max() to find the max value in the list
list4= [1, 3, 24, 51, 13, 2,66, 71, 33]
max(list4)

71

In [128]:
# min() function to find the min value in the list
min(list4)

1

In [133]:
# append() function to add new items in the list
list4.append(216)
print (list4)

[1, 3, 24, 51, 13, 2, 66, 71, 33, 216]

# Sorting

In [134]:
# basic sorting with sort() function
list5= [1, 3, 24, 51, 13]
list5.sort()
print (list5)

[1, 3, 13, 24, 51]

In [136]:
# sorted() function to sort the string and list
list6= ['a', 'c', 'w', 'f', 'g']
print(sorted(list6))
string4= "window"
print(sorted(string4))

['a', 'c', 'f', 'g', 'w']
['d', 'i', 'n', 'o', 'w', 'w']

In [137]:
# sorted() function also has the reverse parameter to sort in descending order
list7= ['a', 'c', 'w', 'f', 'g']
print(sorted(list6, reverse= True))
string5= "bacteria"
print(sorted(string5, reverse= True))

['w', 'g', 'f', 'c', 'a']
['t', 'r', 'i', 'e', 'c', 'b', 'a', 'a']

In [141]:
# sorted() function can use the key parameter to make the comparsion in the sorting
string6= "Stop chasing the money and start chasing the passion"
print(sorted(string6.split(), key=str.lower)) # in this case it sorts use the key str.lower

['and', 'chasing', 'chasing', 'money', 'passion', 'start', 'Stop', 'the', 'the']

In [152]:
# sorted() function also can use the lambda parameter to do the sort
def sortkey(tuple1): # define sortkey function 
   return tuple1[1] 
tuple1= [
    ('Math', 40, 'Jimmy'),
    ('English', 30, 'Tom'),
    ('Chimistry', 20, 'Walter')
] # ('Class Name', Class Size, 'Teaching Professor's Name')
sorted(tuple1, key=lambda size:size[1]) # compare the index 1(class size) to sort

[('Chimistry', 20, 'Walter'), ('English', 30, 'Tom'), ('Math', 40, 'Jimmy')]

# Dicts

In [54]:
# Dicts Example and how to find specific dict
dict = {'Class': 'Math', 'Class Size': 40, 'Teaching Professor': 'Jimmy'}
print ("dict['Class']: ", dict['Class'])
print ("dict['Teaching Professor']: ", dict['Teaching Professor'])

dict['Class']:  Math
dict['Teaching Professor']:  Jimmy

In [58]:
# Updates and Deletes the Dicts
dict['Location'] = "Newark"; # update existing entry in the dict
dict['School'] = "Rutgers Business School" # Add new entry in the dict
print (dict)
del dict['Location']
print (dict)

{'Class': 'Math', 'Class Size': 40, 'Teaching Professor': 'Jimmy', 'Location': 'Newark', 'School': 'Rutgers Business School'}
{'Class': 'Math', 'Class Size': 40, 'Teaching Professor': 'Jimmy', 'School': 'Rutgers Business School'}

In [60]:
# len(dict) function shows the total length of dict
len(dict)

4

In [61]:
# str(dict) function gives the dict a printable string
str(dict)

"{'Class': 'Math', 'Class Size': 40, 'Teaching Professor': 'Jimmy', 'School': 'Rutgers Business School'}"

In [107]:
# value function gives a list with all the assigned values in the dictionary
dict.values()

dict_values(['Math', 40, 'Jimmy', 'Rutgers Business School'])

In [110]:
# items function gives a list but each element in the dictionary is inside a tuple
dict.items()

dict_items([('Class', 'Math'), ('Class Size', 40), ('Teaching Professor', 'Jimmy'), ('School', 'Rutgers Business School')])

In [116]:
# clear() function clears all the entries in the dictionary
dict.clear()
print (dict)

{}

# Reference

1. https://www.tutorialspoint.com/python3/python_strings.htm 
2. https://www.tutorialspoint.com/python3/python_lists.htm 
3. https://www.tutorialspoint.com/python3/python_dictionary.htm 
4. https://docs.python.org/3/tutorial/introduction.html#strings 
5. http://nbviewer.jupyter.org/github/rajathkumarmp/Python-Lectures/blob/master/03.ipynb 
6. http://nbviewer.jupyter.org/github/rajathkumarmp/Python-Lectures/blob/master/04.ipynb 
7. https://www.programiz.com/python-programming/methods/built-in/sorted 
8. https://wiki.python.org/moin/HowTo/Sorting 
9. http://pythoncentral.io/lambda-function-syntax-inline-functions-in-python/